*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display: flex ;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}
nav ul, a {
    list-style-type: none;
    gap: 19px;
    display: flex;
    font-size: 15px;
    margin-right: 10px;
}

nav ul li a {
  position: relative;
  text-decoration: none;
  color: orange;
  padding: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul li a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: 0.10s;
}

nav ul li a:hover:after {
  width: 100%;
}
.name1{
  color:orange;
  margin-left: 6%;
  font-size: 20px;
}

.logo{
  width: 40px;
  position: absolute;
  left: 20px;
  top: 5px;
  margin-right: 0px;
}
.home{
  width: 100%;
  height: 90vh;
   border: none;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   margin-bottom: 35px;
}

.main-container h1{
  position: absolute;
  left: 5%;
  top: 25%;
  font-size: 40px;
}
.name{
  position: absolute;
  top: 40%;
  left: 31.5%;
  color: rgb(255, 255, 255);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 
span{
  color: orangered;
}
.description{
  position: absolute;
  top: 50%;
  left: 43%;
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main-container .txt7{
  position: absolute;
  top: 20%;
  left: 20%;
  color: white;
  font-size: 55px;
}
.btn1{
  position: absolute;
  top: 70%;
  left: 55%;
  background-color: rgb(0, 0, 0);
  color: orange;
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 5px; 
}
.btn2{
  position: absolute;
  top: 70%;
  left: 40%;
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
  background-color: orange;
}
.btn1:hover{
  background-color: rgb(255, 255, 255)  ;
}
.btn1:active{
  background-color: rgb(0, 0, 0);
}
.btn2:hover{
  background-color: rgb(253, 253, 253);
}
.btn2:active{
  background-color: orange;
}
.about-header{
  border-bottom: 2px solid rgb(125, 124, 124);
  padding: 10px;
}
.about-content {
  display: flex;
  align-items:flex-start;
  gap:40px;
  margin-bottom: 35px;
}
figure img{
    width:280px;
    height: 350px;
    border-radius:8px; 
    margin-left:50px;
    margin-top: 30px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p{
  margin-bottom: 30px;
}
article{
  margin-top: 30px;
}
h2{
  font-size: 50px;
  margin-bottom: 30px ;
} 
.skills-container .list{
  display: flex;
  gap: 20px;
}
.skills-container .list{
  text-decoration: none;
  list-style-type: none;
}
.list li{
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(222, 219, 219);
  border: none;
}
.projects {
  padding: 60px 20px;
  background: #f4f6f9;
}
.about-span{
  color: orange;
}
.title-container{
  margin-top: 20px;
  padding: 10px;
   border-bottom: 2px solid rgb(125, 124, 124);
}
.card-container{
  display: flex;
  flex-wrap: wrap;
}
.card{
  width: 325px;
  background-color: #f0f0f0;
  border-radius: 2px;
  overflow: hidden;   
  margin: 20px;
  
}
.card img{
  width: 325px;
  height: auto;
  object-fit: contain;
}
.content{
  padding: 20px;
}
.contact-holder{
  background-color: rgb(43, 43, 43);
  
}
.title ,  .head , .head-content{
  color: white;
}
.input-form form{
  margin-top: 20px;
  display: flex;
  flex-direction: column; 
  gap: 10px;
}
.input-form input{
  margin-left: 20px;
  width: 400px;
  padding: 10px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 3px;
}
.button-container{
  margin: 20px;
  padding: 8px; 
  width: 13%;
  background-color: orange;
  border: none;
  border-radius: 6px;
}
.title-contact{
  margin-top: 20px;
  border-bottom: 1px solid gray;
  padding: 20px;
  position: relative;
}
.head-content{
  margin: 20px;
  font-size: 20px;
  color: black;
}
.head-for-icon{
  position: absolute;
  left: 60%;
  top: 340%;
  border-bottom:  1px solid gray;
  font-size: 25px;
}
.image-container{
  position: absolute;
  left: 670px;
  top: 355%; 
}
  img{
  width: 50px;
  height: 50px;
}